<header class="bg-white text-black border-bottom">
    <div class="d-flex justify-content-end bg-dark p-2 px-4">
        <i class="bi bi-geo-alt-fill text-white me-3"></i>
        <p class="text-white mb-0 mx-3">Calle 123, Lima, Peru</p>

        <i class="bi bi-telephone-fill text-white me-3"></i>
        <a href="tel:123456789" class="text-white text-decoration-none me-3">123456789</a>

        <i class="bi bi-envelope-fill text-white me-3"></i>
        <a href="mailto:empresa&#64;mail.com" class="text-white text-decoration-none">sigauto&#64;mail.com</a>
    </div>
    <div class="main-container m-5 d-flex justify-content-between">
        <!-- <div class="d-flex align-items-center">
            <i class="bi bi-person-circle me-3" style="font-size: 40px;"></i>
            <h4 class="mb-0">Nombre A.</h4>
        </div> -->

        <div class="business d-flex">
                <i class="bi bi-car-front me-3" style="font-size: 50px; color: red; align-self: center;"></i>
            <h1 class="fw-bolder">
                TALLER
            </h1>
        </div>

        <div class="buttons d-flex">
            <a routerLink="/" class="btn btn-outline-primary me-3 inicio">INICIO</a>
            <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary me-3" id="dropdownServicios" ngbDropdownToggle>
                SERVICIOS
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownServicios">
                <button ngbDropdownItem>Servicio 1</button>
                <button ngbDropdownItem>Servicio 2</button>
                <button ngbDropdownItem>Servicio 3</button>
            </div>
            </div>
            <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary me-3" id="dropdownContactos" ngbDropdownToggle>
                CONTACTOS
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownContactos">
                <button ngbDropdownItem>Contacto 1</button>
                <button ngbDropdownItem>Contacto 2</button>
                <button ngbDropdownItem>Contacto 3</button>
            </div>
            </div>
            <button type="button" class="btn btn-primary me-3 login" [routerLink]="'/login'">ENTRAR</button>
        </div>
    </div>
</header>